* {
  box-sizing: border-box;
}

.row {
  max-width:1000px;
  padding-left:20px;
  padding-right:20px;
  margin-left:auto;
  margin-right:auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-4{
  width: 100%;
  padding-left: 1.041666666666667%;
  padding-right: 1.041666666666667%;
  float:left;
  text-align: center;
}
@media only screen and (min-width: 640px) {
.col-4 {
  width: 33.333333333%;
}
}
